<div class="col s6 m4 l3 ">
  <div class="card-panel blue">
    <h5 class="white-text m1"> {{brand}}</h5>
    <span class="white-text">Style: {{style}}. Brewed by {{brewerName}}. Created {{brewDate}}.
    </span>
    </br>
    <button class="right btn-small black">View</button>
  </div>
</div>