<div class="row">
  <div class="col s12 ">
    <div class="card-panel brown">
      <h5 class="white-text m1"> {{brand}} </h5>
      <span class="white-text">Style: {{style}}. Brewed by {{brewerName}}. Created {{brewDate}}.
      </span>
      </br>
      <button class="right btn-large green">Edit</button>
    </div>
  </div>
</div>