<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <img src="/images/BeerKan Logo.png" id="logo-container" href="#" class="center brand-logo">

  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br><br>
    <h1 class="header center brown-text">BeerKan</h1>
    <div class="row center">
      <h5 class="header col s12 light">A digital brew-log to help you organize and track your beer from start to
        finish.</h5>
    </div>
    <div class="row center">
      <a href="/stage0" id="create-new-button" class="btn-large waves-effect waves-light green">Start
        a new Brew.</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">shopping_cart</i></h2>
          <h5 class="center">Inventory</h5>
          
          {{#each beers}}
          {{#if stage1}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

          {{#each beers}}
          {{#if stage0}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}

        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">update</i></h2>
          <h5 class="center">Brew In-Process</h5>

         {{#each beers}}
          {{#if stage2}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">exit_to_app</i></h2>
          <h5 class="center">Distribution</h5>

          
          {{#each beers}}
          {{#if stage3}}
          {{> beers/beer-button}}
          {{/if}}
          {{/each}}


        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Archives</h5>
      </div>

      <div class="row">

         {{#each beers}}
          {{#if stage4}}
          {{> beers/archive-button}}
          {{/if}}
          {{/each}}
      
      
      </div>





    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <a class="orange-text text-lighten-3" href="https://github.com/daveysjobey/brewIQ">View Repository on GitHub</a>
    </div>
  </div>
</footer>


<!--  Scripts-->

