<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">

    <a href="/"><img src="/images/BeerKan Logo.png" id="logo-container" href="#" class="center brand-logo"></a>

  </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br><br>
    <h1 class="header center brown-text">Brewing</h1>
    <br><br>

    <div class="row">
      <form class="col s12">
        <div class="row">

          <div class="input-field col l3 m6 s12">
            <input id="mashWaterVol" type="number" class="validate">
            <label for="mashWaterVol">Volume of Mash Water:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="strikeTemp" type="number" class="validate">
            <label for="strikeTemp">Strike Temp:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="mashTemp" type="number" class="validate">
            <label for="mashTemp">Mash Temp:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="allInTime" type="time" class="validate">
            <label for="allInTime">All in Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="vorlofStartTime" type="time" class="validate">
            <label for="vorlofStartTime">Vorlof Start Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="lauterStartTime" type="time" class="validate">
            <label for="lauterStartTime">Lauter Start Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="lauterStopTime" type="time" class="validate">
            <label for="lauterStopTime">Lauter Stop Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="spargeStartTime" type="time" class="validate">
            <label for="spargeStartTime">Sparge Start Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="spargeStopTime" type="time" class="validate">
            <label for="spargeStopTime">Sparge Stop Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="spargeWaterVol" type="number" class="validate">
            <label for="spargeWaterVol">Sparge Water Volume:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="kettleFullVol" type="number" class="validate">
            <label for="kettleFullVol">Kettle Full Volume:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="preboilGravity" type="number" class="validate">
            <label for="preboilGravity">Preboil Gravity:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="postboilGravity" type="number" class="validate">
            <label for="postboilGravity">Postboil Gravity:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="boilStartTime" type="time" class="validate">
            <label for="boilStartTime">Boil Start Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="whilrpoolStartTime" type="time" class="validate">
            <label for="whilrpoolStartTime">Whirlpool Start Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="whilrpoolStopTime" type="time" class="validate">
            <label for="whilrpoolStopTime">Whirlpool Stop Time:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="knockOutStart" type="time" class="validate">
            <label for="knockOutStart">Knock Out Start:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="knockOutStop" type="time" class="validate">
            <label for="knockOutStop">Knock Out Stop:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="knockOutTemp" type="number" class="validate">
            <label for="knockOutTemp">Knock Out Temp:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="o2Lmp" type="number" class="validate">
            <label for="o2Lmp">o2lmp:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="yeastName" type="text" class="validate">
            <label for="yeastName">Yeast Name:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="yeastGen" type="number" class="validate">
            <label for="yeastGen">Yeast Gen:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="pitchVol" type="number" class="validate">
            <label for="pitchVol">Pitch Volume:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="fvTemp" type="number" class="validate">
            <label for="fvTemp">FV Temp:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhopDate" type="date" class="validate">
            <label for="dryhopDate">Dryhop Date:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="celleringDate" type="date" class="validate">
            <label for="celleringDate">Cellering Date:</label>
          </div>

        </div>
         <button class="btn brown waves-effect waves-light" type="submit" id="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</div>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/stage2.js" type="text/javascript"></script>