<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
      
        <a class="nav-link right" href="/stage2">Brewing <i class="inline-icon material-icons white-text right">fast_forward</i></a>
           <a class="nav-link left" href="/stage0">Info<i class="inline-icon material-icons white-text left">fast_rewind</i></a>

    <a href="/"><img src="/images/BrewIQ Logo.png" id="logo-container" href="#" class="center brand-logo"></a> 
     
  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center brown-text">Inventory</h1>
    <div class="row center">
      
  </div>
</div>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>