<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">

    <a class="nav-link right" href="/stage2">Brewing <i class="inline-icon material-icons white-text right">fast_forward</i></a>
    <a class="nav-link left" href="/stage0">Info<i class="inline-icon material-icons white-text left">fast_rewind</i></a>

    <a href="/"><img src="/images/BeerKan Logo.png" id="logo-container" href="#" class="center brand-logo"></a>

  </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br><br>
    <h1 class="header center brown-text">Inventory</h1>

    <br><br>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col l3 s12 m6">
            <input id="batchNumber" type="number" class="validate">
            <label for="batchNumber">Batch Number</label>
          </div>
          <div class="input-field col l3 s12 m6">
            <input id="fermenter" type="number" class="validate">
            <label for="fermenter">Fermenter</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient1" type="text" class="validate">
            <label for="ingredient1">Ingredient 1:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient1Weight" type="number" class="validate">
            <label for="ingredient1Weight">Ingredient 1 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient2" type="text" class="validate">
            <label for="ingredient2">Ingredient 2</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient2Weight" type="number" class="validate">
            <label for="ingredient2Weight">Ingredient 2 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient3" type="text" class="validate">
            <label for="ingredient3">Ingredient 3</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient3Weight" type="number" class="validate">
            <label for="ingredient3Weight">Ingredient 3 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient4" type="text" class="validate">
            <label for="ingredient4">Ingredient 4</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient4Weight" type="number" class="validate">
            <label for="ingredient4Weight">Ingredient 4 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient5" type="text" class="validate">
            <label for="ingredient5">Ingredient 5</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="ingredient5Weight" type="number" class="validate">
            <label for="ingredient5Weight">Ingredient 5 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="zincWeight" type="number" class="validate">
            <label for="zincWeight">Zinc Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="whirlflocWeight" type="number" class="validate">
            <label for="whirlflocWeight">Whilfloc Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="CaCl2Weight" type="number" class="validate">
            <label for="CaCl2Weight">CaCl2 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="CoSo4Weight" type="number" class="validate">
            <label for="CoSo4Weight">CoSo4 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop1" type="text" class="validate">
            <label for="hop1">Hop 1:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop1Weight" type="number" class="validate">
            <label for="hop1Weight">Hop 1 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop1Boil" type="number" class="validate">
            <label for="hop1Boil">Hop 1 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop2" type="text" class="validate">
            <label for="hop2">Hop 2:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop2Weight" type="number" class="validate">
            <label for="hop2Weight">Hop 2 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop2Boil" type="number" class="validate">
            <label for="hop2Boil">Hop 2 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop3" type="text" class="validate">
            <label for="hop3">Hop 3:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop3Weight" type="number" class="validate">
            <label for="hop3Weight">Hop 3 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="hop3Boil" type="number" class="validate">
            <label for="hop3Boil">Hop 3 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop1" type="text" class="validate">
            <label for="dryhop1">Dryhop 1:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop1Weight" type="number" class="validate">
            <label for="dryhop1Weight">Dryhop 1 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop1Boil" type="number" class="validate">
            <label for="dryhop1Boil">Dryhop 1 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop2" type="text" class="validate">
            <label for="dryhop2">Dryhop 2:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop2Weight" type="number" class="validate">
            <label for="dryhop2Weight">Dryhop 2 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop2Boil" type="number" class="validate">
            <label for="dryhop2Boil">Dryhop 2 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop3" type="text" class="validate">
            <label for="dryhop3">Dryhop 3:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop3Weight" type="number" class="validate">
            <label for="dryhop3Weight">Dryhop 3 Weight:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="dryhop3Boil" type="number" class="validate">
            <label for="dryhop3Boil">Dryhop 3 Boil:</label>
          </div>

          <div class="input-field col l3 m6 s12">
            <input id="volUnits" type="text" class="validate">
            <label for="volUnits">Vol Units:</label>
          </div>

          <div class="input-field col s12">
            <textarea id="notes" type="text" class="materialize-textarea validate"></textarea>
            <label for="notes">Notes:</label>
          </div>







        </div>
        <button class="btn brown waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>

  </div>
</div>




<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/stage1.js" type="text/javascript"></script>