<div class="col s6 m4 l3 ">
  <div class="card-panel blue">
    <h5 class="white-text m1"> Raspberry Princess Yum Yum</h5>
    <span class="white-text">Style: Kolsch. Brewed by Austin Wiley. Created Feb 1st 2019.
    </span>
    </br>
    <button class="right btn-small black">View</button>
  </div>
</div>