/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#logo-container{
  width: 108px;
  
}
h1{
  margin-bottom: 0;
  
}
h5{
  margin-top: 0;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.container {
  margin: 0 auto;
  
  width: 90%;
}

.nav-link{
  font-size: 18px !important;
  font-family: "Helvetica Neue",sans-serif;
  

}
i.left{
  margin-right: 3px;
}
i.right{
  margin-left: 3px;
}

.inline-icon{
  vertical-align: bottom;
   font-size: 32px !important;
   
}